# Ignore common IDE/build files
.idea/
*.iml
.eclipse/
**/.eclipse/
.project
**/.project
.classpath
**/.classpath
.settings/
**/.settings/
.factorypath
**/.factorypath
.metadata/
**/.metadata/
.gradle/
.kotlin/
build/
out/
run/
minecraft/
**/bin/

# Mac system files
.DS_Store

# Fabric-specific
**/src/generated/

# NeoForge-specific
src/generated/

# Compiled files
*.class

# Logs
*.log
logs/
