<!doctype html>
<html><head><meta charset="utf-8">
<title>{{title}}</title>
<style>
body{font-family:sans-serif}table{border-collapse:collapse}td,th{border:1px solid #ccc;padding:6px;vertical-align:top}
img{image-rendering:pixelated}
a{color:inherit}a:hover{text-decoration:underline}
ul.deps{margin:4px 0;padding-left:18px}
div.preset{margin:6px 0}
</style></head><body>
{{> sections/overview.mustache}}
{{> sections/router_outputs.mustache}}
{{> sections/noise_parameters.mustache}}
{{> sections/density_functions.mustache}}
</body></html>
