<table><tr><th>Scenario</th><th>Values</th><th>Ocean Mask</th><th>Ocean Pixels</th></tr>
{{#scenarios}}
<tr><td>{{title}}</td><td><img width="{{imgSize}}" height="{{imgSize}}" src="{{valuesFile}}"></td><td><img width="{{imgSize}}" height="{{imgSize}}" src="{{maskFile}}"></td><td><code>{{oceanPixels}} / {{totalPixels}}</code></td></tr>
{{/scenarios}}
</table>
