<h3>Two-region terrain</h3>
<table><tr><th>Scenario</th><th>Height</th><th>Below Sea</th><th>Region Map</th><th>Interior Stats</th></tr>
<tr><td><code>NO_OCEAN</code> vs <code>ONLY_OCEAN</code></td><td><img width="{{surfaceImgSize}}" height="{{surfaceImgSize}}" src="{{terrainRegions.heightFile}}"></td><td><img width="{{surfaceImgSize}}" height="{{surfaceImgSize}}" src="{{terrainRegions.belowSeaFile}}"></td><td><img width="{{surfaceImgSize}}" height="{{surfaceImgSize}}" src="{{terrainRegions.regionFile}}"></td><td><code>NO_OCEAN={{terrainRegions.noOceanInteriorBelowSea}}/{{terrainRegions.noOceanInteriorPixels}}<br>ONLY_OCEAN={{terrainRegions.onlyOceanInteriorBelowSea}}/{{terrainRegions.onlyOceanInteriorPixels}}</code></td></tr>
</table>
